<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="连接名" connectionString="server=ALICE\ALICE;database=数据库名;integrated security=sspi" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxQueryStringLength="2097151"/>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
</configuration>

